{% extends 'layout.html' %}
{% block content %}
<div align="center">
<form action='{{ request.path }}'  method="post" style="margin-left: 20px; margin-right: 20px; width: 30%">
  <div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="basic-addon1">U</span>
  </div>
  <input type="text" name="username" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1" required>
</div>

  <div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="basic-addon1">P</span>
  </div>
  <input type="password" name="password" class="form-control" placeholder="Password" aria-label="password" aria-describedby="basic-addon1" required>
</div>
  <button type="submit" class="btn btn-primary">Login</button>
</form>
</div>



{% endblock %}