{% extends 'layout.html' %}
{% block content %}


    {% if news|length == 0 %}
    <div class="alert alert-danger" role="alert">
        No News Found!
    </div>
    {% endif %}

    <div class="row">
    {% for x in news[::-1] %}
        <!--<div>
        <h2>{{ x.id }}</h2>
        <h2>{{ x.heading }}</h2>
        <p>{{ x.description }}</p>
        </div> -->
        <div class="col-sm-4" style="padding-bottom: 5px">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{ x.heading}} </h5>
          <div align="right" class="font-italic"> - {{ x.author }}</div>
        <p class="card-text">{{ x.description}}</p>
        {% if session.get('username') == x.author or session.get('type') == 'admin' %}

            <a href="/delete?id={{ x.id }}"><button type="button" class="btn btn-primary" >Delete</button> </a>
            <a href="/edit/{{ x.id }}"><button type="button" class="btn btn-primary" >Edit</button> </a>
        {% endif %}
      </div>
    </div>
  </div>
    {% endfor %}
    </div>
{% endblock %}